<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PoppinsRegular.otf</string>
		<string>PoppinsSemibold.otf</string>
		<string>PoppinsBold.otf</string>
		<string>PoppinsMedium.otf</string>
		<string>PoppinsLight.otf</string>
		<string>PoppinsBlack.otf</string>
		<string>PoppinsExtralight.otf</string>
		<string>PoppinsExtrabold.otf</string>
		<string>PoppinsThin.otf</string>
	</array>
</dict>
</plist>
